

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

.approve-button {
  background: #FFD281;
  border-radius: 70px;
  border: none;
}

.approve-button:hover {
  background: hwb(39 41% 18%);
  border-radius: 70px;
  border: none;
}

.reject-button {
  background: #D52029;
  border-radius: 70px;
  border: none;
}

.reject-button:hover {
  background: hsl(357, 74%, 29%);
  border-radius: 70px;
  border: none;
}

.filter-button {
  background: #FFFFFF;
  border-color: #000000;
}

.filter-button:hover {
  background: hsla(0, 0%, 58%, 0.587);
  border-color: #000000;
}